/* 
Don't want to use sass and simply modify the stylesheet in the old css fashion? 
Just customize your theme here.
================================================== */

body {
	/*background: #eee;*/
}

/*.avatar {
	border-radius: 50%;
	display: inline-block;
	line-height: 0;	

}*/

.dark-name {
	color:rgba(0,0,0,1);
}

.avatar {
  display: inline-block;
  /*width: 40%;*/
  border-radius: 50%;
  line-height: 0;	
  margin-left: 25%;
  margin-right: 25%;
  }


.self {border: 3px solid #47a2ff;}

#img_01 {
  height: 100px;
  width: 50px;
}

#img_02 {
  height:100px;
  width: 100px;
}
 
#img_03 {
  height:200px;
  width:200px;
}

#img_04 {
  height: 200px;
  width: 600px;
}

#img_05 {
  height: 200px;
  width: 600px;
}

#img_06 {
  height: 200px;
  width: 600px;
}

#img_07 {
  height: 200px;
  width: 600px;
}